<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mess Bill Tracker</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div>            
            <h1>Mess Bill Tracker</h1>
            <p>date: <%= date %></p>
            <p>month: <%= currentMonth %></p>
            <p>Pending Amount: <%= unpaidBills %></p>
            <table>
              <thead>
                <tr>
                  <th>MONTH</th>
                  <th>BILL</th>
                  <th>STATUS</th>
                  <th>PENDING</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < eachMonth.length; i++) { %>
                  <tr>
                    <td><%= eachMonth[i] %></td>
                    <td><%= eachBill[i] %></td>
                    <td><%= eachStatus[i] %></td>
                    <td><%= eachPending[i] %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
            
        </div>
    </div>
</body>
</html>