<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Mess Bill Tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div>
          <div class="nav">
            <h1>Mess Bill Tracker</h1>
            <p>DATE: <%= date %></p>
            <p>MONTH: <%= currentMonth.toUpperCase() %></p>
            <p>PENDING AMOUNT: <%= unpaidBills %></p>
          </div>            
            
          <form id="filterForm" class="form-container">
            <div class="form-row">
                <label for="monthFilter">Filter by Month:</label>
                <input type="text" id="monthFilter" name="monthFilter" oninput="filterMonths()">
                
                <label for="unpaidFilter">Show Unpaid Bills:</label>
                <input type="checkbox" id="unpaidFilter" name="unpaidFilter" onchange="filterMonths()">
            </div>
        </form>
          
          <div class="data-container" id="dataContainer">
            <% for (let i = 0; i < eachMonth.length; i++) { %>
              <div class="data-box" data-month="<%= eachMonth[i] %>" data-status="<%= eachStatus[i] %>">
                <h4 class="allMonths"><%= eachMonth[i] %></h4> <hr>
                <p><strong>BILL:</strong> <%= eachBill[i] %></p>
                <p><strong>STATUS:</strong> <%= eachStatus[i] %></p>
                <p><strong>PENDING:</strong> <%= eachPending[i] %></p>
              </div>
            <% } %>
          </div>
            
        </div>
    </div>
    <script src="script.js"></script>
    
</body>
</html>